Johannes Gärtner
	Hintergrund 	#55696F
	Schrift 		#000

Andere Überschrift
	Hintergrund 	#55696F
	Schrift 		#000

Überschrift
	Hintergrund 	#c2c2c2
	Schrift 		#000

Kontakt
	Hintergrund 	#c2c2c2
	Schrift 		#000

Navigation
	Hintergrund 	#233140

Stern
	Farbe 			#4d4d4d

Lupe
	Farbe 			#18bc9c

Kontaktformular
	Linien 			#0f0f0f
	Hintergrund 	#3b637b
	Button Nor
	Button Hover

Social Links
	Farbe 			#18bc9c
	Background 		#fff
